* {
  /* margin: 0px; */
  border: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

:root{
  --bg-init  : #94757e;
  --bg-col-1 : #8a42ec;
  --bg-col-2 : #dd9f88;
  --bg-col-3 : #333842;
  --bg-col-4 : #444A59;

  --link-def : #ffffff;
  --link-vis : #000000;
  --link-hover: #555555;
}

@keyframes bg-col {
  0%   {  opacity: 0%;   }
  100% {  opacity: 100%; }
}


body {
  background: var(--bg-init);
  animation-name: bg-col;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(135deg, var(--bg-col-1), var(--bg-col-2));
  margin: 72px 0px;
}

a {
  transition: color 0.4s ease;
}

a:link {
  color: var(--link-def);
  text-decoration: none;
}

a:visited {
  color: var(--link-def);
  text-decoration: none;
}

a:active {
  color: var(--link-vis);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

button{
  background-color: #00000000;
  color: #00000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.2);
}

.menu{
  margin: 0px;
  position: fixed;
}

#menuToggle {
  position: fixed;
  top: 0px;
  height: 72px;
  margin: 32px;
}

#menuToggle img{
  height: 72px;
}

#menuBar {
  background-color: var(--bg-col-3);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  color: white;
  transition: width 1s ease;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.blurable {
  transition: opacity 1s ease;
  transition: filter 1s ease;
}

#menuBar div{
  position: relative;
  top: 108px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.menuLinkList {
  display: flex;
  flex-direction: column;
}

.menuLinkList img{
    width: 80%;
    margin: 0px 10%;
}

.menuLinkList h2{
    font-weight: 200;
}

.menuLinkList a {
  height: 56px;
  padding: 8px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 12px 40px;
  overflow: hidden;
}

.menuLinkList a img {
  height: 56px;
}

.menuLinkList p{
  font-weight: 400;
  color: white;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.littleInfo {
  font-size: 28px;
}

.textSeparator {
  width: 80%;
  height: 2px;
  margin: 8px 10%;
  background-color: white;
}

.separatorSmall{
  height: 108px;
}


.separatorMedium{
  height: 192px;
}

.separatorLarge{
  height: 256px;
}

.contact {
  position: relative;
  margin: 196px 4px 48px 4px;
  padding: 0px 2px;
  border-radius: 4px;
  color: white;
}

.contact h4 {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

#links {
  position: relative;
  width: 96%;
  margin: 4px 2%;
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-size: 28px;
}

.hidden {
  display: none;
}


.return{
  width: 80%;
  margin: 24px 10%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.return a{
  display: flex;
  align-items: center;
  justify-content: center;

  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;

  margin: 0px 15%;
}

.return img {
  width: 40px;
}

.return p {
  font-size: 32px;
  margin: 12px;
}




.topInfo{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logoImage{
  max-width: 320px;
}

.topInfo h1{
  color: white;
  width: 100%;
  text-align: center;
  margin: 40px 0px 16px 0px;
  letter-spacing: 3px;
  font-size: 60px;
  font-weight: lighter;
}

.topInfo p{
  color: white;
  font-size: 32px;
  width: 80%;
  margin: 24px 10% 8px 10%;
  text-align: center;
  font-weight: 400;
}

.information{
    position: relative;
    display: flex;
    flex-direction: column;
}
