.topInfo{
  position: relative;
  display: flex;
  flex-direction: column;
}

#logoImage{
  width: 50%;
  padding-left: 25%;
}

.topInfo h1{
  color: white;
  width: 100%;
  text-align: center;
  margin: 72px 0px;
  letter-spacing: 7px;
  font-size: 80px;
  font-weight: lighter;

}

.topInfo p{
  color: white;
  font-size: 24px;
  width: 90%;
  margin: 24px 5%;
  text-align: center;
  font-weight: 400;
}

.information{
    position: relative;
    display: flex;
    flex-direction: column;
}

#searchBar{
  position: relative;
  width: 92%;
  margin: 88px 4%;
  display: grid;
  grid-template-columns: 85% 15%;

  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;

}

.search {
  position: relative;
  margin: 12px 12px;
  padding: 6px 2px;
  border-radius: 4px;
  background-color: #ffffff7f;

  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

button.search{
  background-color: #00000000;
  color: #00000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

button.search img{
  position: relative;
  width: 28px;

}

#topics{
  position: relative;
  width: 92%;
  margin: 20px 4%;


  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

#topics h4{
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 28px;
  margin: 14px 0px;
}

.topicsBar{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.topicElement{
  position: relative;
  margin: 24px 48px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  transition: border-color 0.4s ease;
}

.topicElement img{
  position: relative;
  width: 50%;
  margin: 8px 25%;
}

.topicElement h3{
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 0px 0px 8px 0px;
}


.topicElement:hover{
    border-color: var(--link-hover);
}




.contact {
  position: relative;
  margin: 84px 4px;
  padding: 0px 2px;
  border-radius: 4px;
  color: white;
}

.contact h4 {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

#links {
  position: relative;
  width: 96%;
  margin: 4px 2%;
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-size: 20px;
}
