.topInfo{
  position: relative;
  display: flex;
  flex-direction: column;
}

#logoImage{
  width: 50%;
  padding-left: 25%;
}

.topInfo h1{
  color: white;
  width: 100%;
  text-align: center;
  margin: 72px 0px 16px 0px;
  letter-spacing: 7px;
  font-size: 108px;
  font-weight: lighter;

}

.topInfo p{
  color: white;
  font-size: 32px;
  width: 80%;
  margin: 64px 10% 8px 10%;
  text-align: center;
  font-weight: 400;
}

.information{
    position: relative;
    display: flex;
    flex-direction: column;
}

#searchBar{
  position: relative;
  width: 92%;
  margin: 88px 4%;
  display: grid;
  grid-template-columns: 85% 15%;

  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.search {
  position: relative;
  margin: 18px 18px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #ffffff5f;

  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;

  font-size: 48px;
  color: white;
}

button.search{
  background-color: #00000000;
  height: 96px;
}

button.search img{
  position: relative;
  width: 48px;
}

#topics{
  position: relative;
  width: 92%;
  margin: 20px 4%;


  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

#topics h4{
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 36px;
  margin: 14px 0px;
}

.topicsBar{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.topicElement{
  position: relative;
  margin: 24px 40px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  transition: border-color 0.4s ease;

  display: flex;
  flex-direction: column;
  height: 176px;
}

.topicElement img{
  position: relative;
  width: 50%;
  margin: 8px 25%;
}

.topicElement h3{
  text-align: center;
  color: white;
  font-size: 24px;
  margin: 0px 0px 8px 0px;
}


.topicElement:hover{
    border-color: var(--link-hover);
}
